/*colores*/
/*Mixins*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logo {
  width: 200px;
  height: 200px; }

body {
  background-image: url("https://www.xtrafondos.com/wallpapers/textura-de-madera-2927.jpg	");
  height: 100vh; }

header {
  color: aliceblue;
  background-color: blanchedalmond;
  padding: 5px;
  border: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

li {
  display: inline;
  background-color: blanchedalmond;
  font-weight: lighter;
  box-shadow: none;
  text-decoration: none; }

.logo {
  width: 180px;
  height: 180px; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background-image: url("https://www.xtrafondos.com/wallpapers/textura-de-madera-2927.jpg	"); }

main .titulo {
  color: #291818;
  font-size: 65px;
  font-family: 'Mukta', sans-serif;
  font-style: initial;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

main .subtitulo {
  color: navajowhite;
  margin-top: 10px;
  font-family: 'Mukta', sans-serif;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

main .texto, main .texto2, main .descripcion {
  color: black;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 40px;
  margin-left: 0px;
  background-image: linear-gradient(wheat, #8a8158);
  display: flex;
  flex-direction: row;
  justify-content: center; }

main .texto2 {
  color: #525252;
  padding: 20px;
  font-size: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }

main .descripcion {
  color: #525252;
  padding: 20px;
  font-size: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }

main .imagen {
  padding: 8px;
  background-color: navajowhite;
  margin-left: 20px; }

main #fotografia1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; }

main #imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px; }

footer {
  font-size: 20px;
  margin-top: 30px;
  background-color: rgba(200, 212, 195, 0.466);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 100%;
  height: 130px;
  text-align: center;
  display: flex;
  flex-direction: column; }

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 40px; }

header li {
  display: inline;
  margin-left: 35px;
  color: aquamarine;
  font-weight: lighter;
  box-shadow: none;
  text-decoration: none; }

main #titulo {
  color: #291818;
  font-size: 100px;
  margin: 150px;
  font-family: "Mukta", sans-serif;
  font-style: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px; }

#parrafo_alquila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  font-weight: bold; }

#imagenes {
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: italic;
  border: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-image: linear-gradient(wheat, #8a8158); }

#mapa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px; }

#mapa3 {
  margin-top: 20px; }

main #paginacontacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

main #formulario_contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
  width: 1000px;
  margin-top: 100px;
  margin-left: 100px;
  background-color: grey;
  border: 20px black;
  overflow-x: hidden;
  border-color: #aaaaaa;
  border-width: 3px;
  border-style: solid; }

main #mapa2 {
  margin-top: 100px; }

main #ubicacion {
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: italic; }

main .pregunta {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center; }

main input {
  margin-top: 10px;
  margin-right: 200px;
  border: none;
  border-bottom: 1px solid black;
  background-color: navajowhite; }

main textarea {
  margin-top: 10px;
  background-color: navajowhite;
  border: none;
  border-bottom: 1px solid black; }

main .botones {
  margin-right: 400px; }

main .contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 455px;
  height: 400px; }

main #parrafo_alquila {
  display: flex;
  flex-direction: row;
  justify-content: center; }

main #iniciar_sesion {
  border: 1cm white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-color: #aaaaaa;
  border-width: 3px;
  border-style: solid;
  margin-top: 40px;
  padding: 20px;
  background-image: linear-gradient(wheat, #8a8158); }

main #formularios {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#formularioinicio {
  border: 1cm; }

.recuperar {
  margin-top: 10px;
  background-color: blanchedalmond;
  border: 0cm; }

#fotografia2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
