main {
    #formulario_contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
               
        margin-right: 1200px;
        margin-left: 200px;
        margin-top: 100px;
    }
    .pregunta {
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-around;
    }
    input {
        margin-top: 10px;
        margin-right: 200px
    }
    
    textarea {
        margin-top: 10px;
    }
    .botones {
        margin-right: 400px;
    }

}